.home-container {
    padding: 20px;
    background-color: #e7ecef;
  }
  
  .device-card {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .device-header {
    color: #274c77;
    font-size: 1.2em;
  }
  
  .device-body {
    color: #6096ba;
  }
  